/* Mengatur elemen body */
body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Full screen height */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Agar gambar memenuhi seluruh halaman */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

/* Mengatur tombol cek cuaca */
button {
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    padding: 15px 32px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

/* Efek hover pada tombol */
button:hover {
    background-color: #45a049;
}

/* Mengatur tampilan container */
.container {
    text-align: center;
}

/* Mengatur teks judul */
h1 {
    color: white;
    font-size: 2.5em;
    margin-top: 10px;
}

/* Mengatur gambar latar belakang */
img.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Menempatkan gambar di belakang konten */
}

/* Mengatur tombol secara responsif */
@media screen and (max-width: 600px) {
    button {
        font-size: 14px;
        padding: 10px 20px;
    }

    h1 {
        font-size: 2em;
    }
}
